{% extends 'Appweb/base.html' %}

{% load static %}

{% block content %}


    
   <br> 
   <h2 class="text-white text-center">La categoria: {{categoria.nombre}}</h2>
{% for posts in post%}       
 {% for categoria in posts.categorias.all%}
   
<div class="row row-cols-1 row-cols-md-2 col-xl-3 mx-auto">
  <div class="col mb-4">
    <div class="card">
      <img src="{{posts.imagen.url}}" class="card-img-top" alt="...">
      <div class="card-body">
       <h4><span class="badge badge-danger col-xl-4">{{categoria.nombre}}</span></h4>
        <h4 class="card-title">{{posts.titulo}}</h4>
        <p class="card-text">{{posts.contenido}}</p>
          <small style="font-size:13px; color:#716F81" class="card-text">Autor:  {{posts.autor}}</small>
          <small style="font-size:13px; color:#716F81" class="card-text ml-5">Publicado:  {{posts.created}}</small>
      </div>
    </div>
  </div>
</div>
 {% endfor %}
{% endfor %}




   


   
         
         
{% endblock %}