{% extends 'Appweb/base.html' %}
{% load static %}

{% block content %}
   <!-- Heading -->
 {% for servicios in servicos %}
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ servicios.imagen.url }}" alt="{{ servicios.titulo }}" style="width: 55%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{ servicios.titulo }}</span>
            <span class="section-heading-upper">{{ servicios.contenido }}</span>
          </h2>
           <p class="mb-3">En la puertra de tu casa en menos de 48 h con el envío normal. En menos de 24 h con el envío express.
          </p>
         
        </div>
      </div>
    </div>
  </section>
{% endfor %}



{% endblock %}
